<!-- users_list.html -->
{% extends 'base.html' %}

{% block title %}
    Users List
{% endblock %}

{% block styles %}
    <style>
        /* Add your custom styles here */
        .container1{
            width: 800px;
            max-width: 1000px;
            margin: 20px auto;
            padding: 20px;
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
        }
    
        h1 {
            text-align: center;
            color: #333;
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
        }
    
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #63aefd;
        }
    
        th {
            color: #007bff;
        }
    
        tr:hover {
            background-color: #f1f1f1;
        }
    
        button {
            padding: 6px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            background-color: #63aefd;
        }
    
        button:hover {
            background-color: #ee7512;
        }
    
        .status-active {
            color: green;
        }
    
        .status-inactive {
            color: red;
        }

        .text-color {
            color: #007bff;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container1">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="text-color">{{ user.username }}</td>
                    <td class="text-color">{{ user.email }}</td>
                    <td class="text-color">{{ user.role }}</td>
                    <td class="{{ 'status-active' if user.is_active else 'status-inactive' }}">
                        {{ 'Active' if user.is_active else 'Inactive' }}
                    </td>
                    <td>
                        <form action="{{ url_for('main.toggle_user_status', user_id=user.id) }}" method="POST">
                            {% if user.is_active %}
                                <button type="submit" name="action" value="deactivate">Deactivate</button>
                            {% else %}
                                <button type="submit" name="action" value="activate">Activate</button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
